{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<form method="POST" action={{ path('update_user', {user: user.id})}} enctype="multipart/form-data">
<input type="hidden" name="_method" value="PUT">
    <input name="first_name" type="text" value="{{user.firstname}}">
    <input name="last_name" type="text" value="{{user.lastname}}">
    <input name="age" type="number" value="{{user.age}}">
    <input name="status" type="text" value="{{user.status}}">
    <input name="email" type="text" value="{{user.email}}">
    <input name="telegram" type="text" value="{{user.telegram}}">
    <input name="address" type="text" value="{{user.address}}">
    <select name="department">
        {% for i in department %}
            <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select>
    <input type="submit">
    <input name="image" type="file" accept="image/png, image/jpg">
    <input type="submit">
</form>
{% endblock %} 